/*
引入iconfont 图标
*/
@import '//at.alicdn.com/t/font_534181_lns0lb6asupzxgvi.css';

html,body{
    height:100%;
    width:100%;
}
body{
    font-family:微软雅黑;
    margin:0;
    padding:0;
    background: #FFF;
    font-size:16px;
    color:#000;
}
li{
  list-style: none;
}
div,form,img,ul,ol,li,dl,dt,dd,p{
    margin: 0;
    padding: 0;
    border: 0;
}
a{
    text-decoration:none;
    out-line:none;
    color: #333333;
}

